<div class="row">
  <div class="small-12 columns">
    <h1>Session#new</h1>
  </div>
</div>
<div class="row">
  <%= form_for @user, url: sessions_path do |f| %>
    <% if @error %>
      <p>שם משתמש או סיסמא שגויים</p>
    <% end %>
    <div class="small-3 columns">
      <%= f.label :email %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :email %>
    </div>
    <div class="small-3 columns">
      <%= f.label :password %>
    </div>
    <div class="small-9 columns">
      <%= f.password_field :password %>
    </div>
    <div class="small-12 columns">
      משתמש חדש? <%= link_to 'הצטרף!', new_registrations_path %>
      <%= f.submit 'כניסה' %>
    </div>
  <% end %>
</div>
